[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #111 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #272727 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .bg-gray-900 {
	background-color: #272727 !important;
}